{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/course.css') }}" />

{% endblock %} {% block title %}Course index{% endblock %} {% block body %}
<div class="container">
  <h1 class="mt-3" style="text-align: center">Courses</h1>
  <div class="row row-cols-3 g-4 justify-content-center">
    {% for course in courses %}
    <div class="card">
      <img src="{{ asset ('pictures/' ~ course.img ) }}" />
      <h2 class="mt-3" style="color: #321f3a; text-align: center">
        {{ course.name }}
      </h2>
      <div class="card__content">
        {#
        <h2 style="color: #321f3a">{{ course.name }}</h2>
        #}
        <p class="card-text">
          <b> Start on :</b>
          {{ course.startDate ? course.startDate|date('Y-m-d H:i:s') : '' }}
        </p>
        <p class="card-text">
          <b> End on :</b>
          {{ course.endDate ? course.endDate|date('Y-m-d H:i:s') : '' }}
        </p>
        <p class="card-text">Price : {{ course.price }} €</p>
        <a href="{{ path('app_course_show', { id: course.id }) }}">Details</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %} {#
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Price €</th>
      <th>Capacity</th>
      <th>Available</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
    <tr>
      <td>{{ course.id }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.startDate ? course.startDate|date('d.m.Y H:i') : '' }}</td>
      <td>{{ course.endDate ? course.endDate|date('d.m.Y H:i') : '' }}</td>
      <td>{{ course.price }}</td>
      <td>{{ course.capacity }}</td>
      <td>{{ course.available ? "Yes" : "No" }}</td>
      <td>
        <a href="{{ path('app_course_show', { id: course.id }) }}">show</a>
        <a href="{{ path('app_course_edit', { id: course.id }) }}">edit</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
#}
