{% extends 'base.html.twig' %} {% block title %}Course index{% endblock %} {%
block body %}

<div class="container">
  <div class="row d-flex justify-content-center">
    {% for course in courses %}
    <div class="col-md-3 m-2">
      <div class="card" style="width: 18rem">
        {# <img src="{{ course.picture }}" class="card-img-top" /> #}
        <div class="card-body">
          <h5 class="card-title">{{ course.description }}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Start Date:
            {{ course.startDate ? course.startDate|date('D d M Y') : '' }}
          </li>
          <li class="list-group-item">
            End Date: {{ course.endDate ? course.endDate|date('D d M Y') : '' }}
          </li>
          <li class="list-group-item">Price: {{ course.price }}</li>
          <li class="list-group-item">
            Course capacity: {{ course.capacity }}
          </li>
        </ul>
        <a
          href="{{ path('app_course_show', { id: course.id }) }}"
          class="btn btn-success"
        >
          See Course Details</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{#
<h1>Course index</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Description</th>
      <th>Start_date</th>
      <th>End_date</th>
      <th>Price</th>
      <th>Capacity</th>
      <th>Available</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for course in courses %}
    <tr>
      <td>{{ course.id }}</td>
      <td>{{ course.description }}</td>
      <td>
        {{ course.startDate ? course.startDate|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>{{ course.endDate ? course.endDate|date('Y-m-d H:i:s') : '' }}</td>
      <td>{{ course.price }}</td>
      <td>{{ course.capacity }}</td>
      <td>{{ course.available ? "Yes" : "No" }}</td>
      <td>
        <a href="{{ path('app_course_show', { id: course.id }) }}">show</a>
        <a href="{{ path('app_course_edit', { id: course.id }) }}">edit</a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
#} {# <a href="{{ path('app_course_new') }}">Create new</a> #} {% endblock %}
