{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} {% block
body %}

<link rel="stylesheet" href="{{ asset('css/register.css') }}" />
<div
  class="container my-3 bg-danger text-white rounded-4 p-4"
  style="width: 700px"
>
  <h1>Register</h1>

  {{ form_start(registrationForm) }}
  {{
    form_row(registrationForm.first_name, {
      label: "Name:"
    })
  }}
  {{
    form_row(registrationForm.last_name, {
      label: "Surname:"
    })
  }}
  {{
    form_row(registrationForm.email, {
      label: "Email:"
    })
  }}
  {{
    form_row(registrationForm.address, {
      label: "Address:"
    })
  }}
  {{
    form_row(registrationForm.phone, {
      label: "Phone:"
    })
  }}
  {{
    form_row(registrationForm.plainPassword, {
      label: "Password:"
    })
  }}
  {{ form_row(registrationForm.agreeTerms) }}

  <button type="submit" class="btn btn-dark my-2">Register</button>
  <br />
  You already have an account?
  <a class="btn btn-outline-light btn-sm" href="/login">Login here.</a>
  {{ form_end(registrationForm) }}
</div>
{% endblock %}
