{% extends 'base.html.twig' %}

{% block title %}Hello TrainersController!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset ('css/trainers.css') }}"/>

{% endblock %}

{% block body %}

		<div class="wrapper"> <div class="cols" id="trainer">
			{% for trainers in trainer %}
				<div class="col" ontouchstart="this.classList.toggle('hover');" id="trainer">
					<div class="container" id="trainer">
						<div class="front">
							<img src="{{ asset ('pictures/' ~ trainers.photo ) }}" style="width:600px ;"/>
							<div class="inner">
								<p>{{ trainers.name }}</p>

							</div>
						</div>
						<div class="back" >
							<div class="inner">
								<p>{{ trainers.information }}</p>
								<p>{{ trainers.specialty }}</p>
								{# <p>{{ trainers.experience }}</p> #}
							</div>
						</div>
					</div>
				</div>
				<div class="col" ontouchstart="this.classList.toggle('hover');"></div>
	
		{% endfor %}
    </div>
     </div>
	{% endblock %}
