{% extends 'base.html.twig' %} {% block title %}Booking index{% endblock %} {%
block body %}
<div class="container my-3">
  <h1>Booking index</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Booking_date</th>
        <th>Course Id</th>
        <th>User</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
      <tr>
        <td>{{ booking.id }}</td>
        <td>{{ booking.bookingDate|date('Y-m-d H:i:s') }}</td>
        <td>{{ booking.getFkCourseId().id }}</td>
        <td>
          {{ booking.getFkUserId().getFirstName() }}
          {{ booking.getFkUserId().getLastName() }}
        </td>
        <td>
          <a
            class="btn btn-dark"
            href="{{ path('app_booking_show', { id: booking.id }) }}"
            ><i class="bi bi-view-list pe-2"></i>show</a
          >
          <a
            class="btn btn-warning"
            href="{{ path('app_booking_edit', { id: booking.id }) }}"
            ><i class="bi bi-pencil-square pe-2"></i>edit</a
          >
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="3">no records found</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {# <a href="{{ path('app_booking_new') }}">Create new</a> #}
</div>
{% endblock %}
