{% extends 'base.html.twig' %} {% block title %}Booking{% endblock %} {% block
body %}
<div class="container my-4">
  <a class="btn btn-warning pe-2" href="{{ path('app_booking_index') }}"
    ><i class="bi bi-list-ul pe-2"></i>Back to list</a
  >
  <h1>Booking</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Id</th>
        <th>Booking_date</th>
        <th>Course Id</th>
        <th>User</th>
        <th>actions</th>
      </tr>
      <tr>
        <td>{{ booking.id }}</td>
        <td>{{ booking.bookingDate|date('Y-m-d H:i:s') }}</td>
        <td>{{ booking.getFkCourseId().id }}</td>
        <td>
          {{ booking.getFkUserId().getFirstName() }}
          {{ booking.getFkUserId().getLastName() }}
        </td>
        <td>
          <a
            class="btn btn-dark mb-2"
            href="{{
              path('app_course_edit', { id: booking.getFkCourseId().getId() })
            }}"
            ><i class="bi bi-calendar-check pe-2"></i>Confirm</a
          >
          {{ include("booking/_delete_form.html.twig") }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
