<link rel="stylesheet" href="{{ asset ('css/footer1.css') }}" />
 <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>First Aid</h2>
                        <h3>123 Street, Wien, Austria</h3>
                        <div class="footer-menu">
                            <p>+012 345 67890</p>
                            <p>info@example.com</p>
                        </div>
                        <div class="footer-social" style="color: white;">
                            <a href=""><img src="{{ asset ('pictures/twitter.png') }}"></a>
                            <a href=""><img src="{{ asset ('pictures/facebook.png') }}"></a>
                            <a href=""><img src="{{ asset ('pictures/instagram.png') }}"></i></a>
                            <a href=""><img src="{{ asset ('pictures/youtube.png') }}"></i></a>
                            <a href=""><img src="{{ asset ('pictures/linkedin.png') }}"></i></a>
                        </div>
                    </div>
                </div>
                <footer>
  <div class="container">
    <div class="row" style="color: white;">
      <div class="col-lg-12 fadeIn">
        <p>
          © Copyright 2022. All Rights Reserved.

          <br />Made with <img src="{{ asset ('pictures/love.png') }}" /> by
          <a rel="nofollow" href="#">EMACA</a>
        </p>
      </div>
    </div>
  </div>
</footer>