{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/details.css') }}"/>
{% endblock %}

{% block title %} Booking {% endblock %}

{% block body %}
<div class="container my-4">
	<a class="btn btn-warning my-2" href="{{ path('app_user_index') }}"><i class="bi bi-list-ul pe-2"></i>Back to courses</a>
	<h1>Booking</h1>
	
	<hr>
	<div class="row g-0 ">
		<div class="col-6">
			<img src="{{ asset ('pictures/' ~ course.img ) }}" class="card mb-4" style="margin-top: 20px; margin-left:15px; max-width:100%">
		</div>
		<div class="col-md-6">
			<div class="card-body" style="max-width: 100%; margin-left:5%;">
				<div class="card-title">
					<b>
						<h1>{{ course.name }}
						</b>
					</h1>
					<p>
						{{ course.description }}
					</p>
					<span><img src="{{ asset ('pictures/certificate.png') }}">
						Certificates: <a href="/file/response">Download</a></span>
					<div>On completion of the course, you will receive a First Aid certificate.</div>
					<br><br>
					<span><img src="{{ asset ('pictures/euro-35.png') }}">
						Costs:</span>
					<div>The costs for this course is :
						{{ course.price }}</div><br>
					<span><img src="{{ asset ('pictures/date.png') }}">
						Start on :</span>
					<div>{{ course.startDate ? course.startDate|date('Y-m-d H:i:s') : '' }}</div><br>
					<span><img src="{{ asset ('pictures/date.png') }}">
						End on :</span>
					<div>{{ course.endDate ? course.endDate|date('Y-m-d H:i:s') : '' }}</div><br>
					<span><img src="{{ asset ('pictures/date.png') }}">
						Available :</span>
					<div>{{ course.capacity and course.available ? "Yes" : "Sorry, no free places for this course"}}</div><br>

					
						<a href="{{ path('app_booking_new', {"id":course.id}) }}" style="text-decoration: none; color: white;">
							<button class="btn btn-success" type="button" style="width: 30%;">Submit Booking</button>
						</a>
					
					<br><br>
				</div>
			</div>
		
		</div>
	</div>
</div>

{% endblock %}
